<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/bpohorario"/>
        <property name="username" value="root"/>
        <property name="password" value="panconpan3"/>
    </bean>

    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean id="hibernate4AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>net.bpogroup.horario.model.CondicionBean</value>
                <value>net.bpogroup.horario.model.AreaBean</value>
                <value>net.bpogroup.horario.model.TipoUsuarioBean</value>
                <value>net.bpogroup.horario.model.EstadoBean</value>
                <value>net.bpogroup.horario.model.CargoBean</value>
                <value>net.bpogroup.horario.model.UsuarioBean</value>
                <value>net.bpogroup.horario.model.AsistenciaBean</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>


    <bean id="areaDAO" class="net.bpogroup.horario.dao.impl.AreaDAOImp">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="usuarioDAO" class="net.bpogroup.horario.dao.impl.UsuarioDAOImp">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="asistenciaDAO" class="net.bpogroup.horario.dao.impl.AsistenciaDAOImp">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="horarioDAO" class="net.bpogroup.horario.dao.impl.HorarioDAOImp">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>
    <bean id="reporteDAO" class="net.bpogroup.horario.dao.impl.ReportDAOImp">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
    </bean>

    <bean id="monitorService" class="net.bpogroup.horario.service.imp.MonitorServiceImp">
    </bean>
</beans>