
.mod-asi-container
  display block
  margin auto;
  width 700px
  padding 20px 60px
  background-color #dddddd
  border-radius 10px
  input[type="date"]
    width 150px
    font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  button
    margin-left 100px
    width 120px
  label
    width 200px
    text-align left
    line-height 34px
    width 200px
    float left
    padding-right 20px
    font-size 15px
    font-family Arial, "Liberation Sans", FreeSans, sans-serif
  #btnSave
    display none


button
  border 1px solid #00b0e6
  border-radius 5px
  background-color #00b0e6
  color: #ffffff
  &:hover
    background-color #ffb732

label,
input,
button
  height 34px
  margin-bottom 10px

br
  clear left